# set noop scheduler for non-rotating disks
ACTION=="add|change", ENV{ID_VENDOR}==”*Vexata*”, KERNEL=="sd*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="noop", ATTR{queue/rq_affinity}="2", ATTR{queue/add_random}="0"
ACTION=="add|change", ENV{ID_VENDOR}==”*Vexata*”, KERNEL=="dm-*", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="noop", ATTR{queue/rq_affinity}="2", ATTR{queue/add_random}="0"
